body{
    height: 700px;
    background-image: linear-gradient(rgb(249, 193, 90), rgb(251, 234, 200));
    font: normal 15pt arial;
}
header{
    text-align: center;
}
section{
    background: rgba(255, 255, 255, 0.559);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
}
footer{
    text-align: center;
    font-style: italic;
}