body{
    background-image:linear-gradient(rgb(171, 255, 255), rgb(255, 208, 208));
    height:95vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: bold;
}
header{
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.21);
}
main{
    background-color: aliceblue;
    min-height: 500px;
    width:500px;
    margin: auto;
    margin-top:8px;
    
    padding: 15px;
    border-radius:10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.333);
}
div#res{
    text-align: center;
}
